body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: scroll;
  background-color: #efefef;
  background-size: cover;
}

code {
  font-family: Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rx-image {
  height: 250px;
  margin: 20px 20px;
}
